* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100%;
}

.notify-container{
    position: absolute;
    top: 2%;
    right: 38%;
    background-color: #333;
    width: 28%;
    padding: 10px 10px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.notfy{
    font-weight: bolder;
    color: rgb(0, 237, 0);
}

.remove{
    display: none;
}

main {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: var(--paddingSpace);
    position: relative;
}

:root {
    --bg-color: #000;
    --column-bg-color: #333;
    --paddingSpace: 20px 20px;
    --marginSpace: 20px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    color: white;
    align-items: center;
}

nav .logo h4 {
    font-size: 2rem;
    font-weight: bolder;
}

nav #task-button {
    font-size: 1.2rem;
    padding: 12px 20px;
    border: none;
    outline: none;
    background-color: var(--column-bg-color);
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}

main .board {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    background-color: var(--bg-color);
    overflow: hidden;
}

.column {
    padding: var(--paddingSpace);
    width: 100%;
    background-color: var(--column-bg-color);
    flex-grow: 1;
    border-radius: 5px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
}
.column::-webkit-scrollbar{
    display: none;
}

.column header {
    display: flex;
    justify-content: space-between;
}

header span {
    font-size: 1.2rem;
    font-weight: bolder;
    color: #fff;
}

.column .todo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1b1a1a;
    padding: var(--paddingSpace);
    border-radius: 8px;
    color: #fff;
    cursor: grab;
}

.todo  button {
    padding: 8px 20px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 4px;
    align-self: flex-end;
}

.column.hover-over {
    scale: 1.04;
    border: 2px dashed whitesmoke;
    transition: all .2s;
}

.main-popup {
   position: absolute;
   top: 0;
   left: 0;
   display: none;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}
.main-popup .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#00000089;
    backdrop-filter: blur(5px);
    z-index: 1;
}
.main-popup .form-container{
    z-index: 2;
    width: 40%;
    height: 40vh;
    border-radius: 10px;
    padding: var(--paddingSpace);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px; 
    background-color: var(--column-bg-color);
}
.main-popup .form-container input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    background-color:#1b1a1a;
    font-size: 1.5rem;
    color: white;
}
.main-popup .form-container textarea{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    background-color:#1b1a1a;
    font-size: 1.5rem;
    color: white;
}
.form-container button{
    padding: 10px 50px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #1b1a1a;
    color: white;
    font-weight: bolder;
    font-weight: 1.2rem;
}

